<appSettings>
  <add key="startingGems" value="777500"/><!-- Beware, very high value will crash UCS -->
  <add key="startingGold" value="100000000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingElixir" value="500000000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingDarkElixir" value="10000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingTrophies" value="4000"/>
  <add key="startingShieldTime" value="3600"/><!-- Initial shield duration in seconds -->
  <add key="clientVersion" value="7.156"/><!-- Major version dot Client build -->
  <add key="useCustomPatch" value="false"/><!-- Specify if the server is using patches (.csv, .sc, ...) -->
  <add key="patchingServer" value="http://www.ultrapowa.com/patch/"/><!-- Don't forget the trailing slash -->
  <add key="maintenanceMode" value="false"/><!-- People trying to connect will see a maintenance message if set to true -->
  <add key="databaseConnectionName" value="sqliteEntities"/>
    <!-- Chose ucsdbEntities for MySql, and edit ucsdbEntities connection string in ucs.exe.config -->
  <add key="loggingLevel" value="4"/><!-- Enable logging for debugging, set value to 1 for (almost) no log -->
</appSettings>